/*
Theme Name: Divi Child Theme
Description: Divi Child Theme
Author:  We Are Pixel
Author URI:  http://www.wearepixel.co.uk
Template: Divi
Version:  1.0.2
*/

 
/* =Theme customizations
------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
#top-header{background-color: #c5cdd6;}
#top-header .container {padding-top: 0;}
#et-info {padding-bottom: 0;}
#et-secondary-menu > ul > li a {padding-bottom: 0;}
#et-secondary-menu .fas.fa-user {position: relative;display: block;}
.fa-user:before {
	content: "" !important;
	position: absolute;
	left: -15px;
	width: 18px;
	height: 18px;
	background:url("images/user.png");
	display: block;
	top: -3px;
}
.fas.fa-shopping-cart {
	position: relative;
	display: block;
	float: right;
	margin-left: 8px;
}
.fas.fa-shopping-cart:before {
	content: "" !important;
	position: absolute;
	left: -15px;
	width: 18px;
	height: 18px;
	background:url("images/chart.png");
	display: block;
	top: -3px;
}
#right_top_header li a {
	color: #000;
	font-family: roboto;
	font-size: 14px;
	font-weight: 400 !important;
}
#menu-social-menu li {
	padding: 8px 5px;
}
.container {
	position: relative;
	width: 1170px;
	max-width: none;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#menu-social-menu {
	margin-bottom: 0 !important;
}
ul{margin-bottom: 0 !important;}
.et_fullwidth_nav #main-header .container {
	width: 1170px;
	max-width: none;
	padding-right: 0;
	padding-left: 15px;
	padding-right: 15px;
}
span.logo_helper {display: none;}
.header_logo {
	width: 30%;
	float: left;
	position: relative;
	left: -160px;
}
#main-header input[type="text"] {
    padding: 10px;
    border: 0px solid #BBB;
    color: #e6ebf2;
    background-color: #8994a3;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 100%;
    border-radius: 5px;
    line-height: 100%;
    padding-right: 45px;
    text-transform: uppercase;
    font-size: 14px;
    /* letter-spacing: 1px; */
}
#searchsubmit {
    margin-left: 0;
    position: absolute;
    right: 0px;
    top: 0;
    background: #4181fa url(images/search-icon.png);
    border: 0;
    height: 100%;
    width: 41px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0px 5px 5px 0px;
    background-size: 18px auto;
}
.search_area {
    width: 100%;
    position: relative;
}
#main-header input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e6ebf2 !important;
}
#main-header input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #e6ebf2 !important;
}
#main-header input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #e6ebf2 !important;
}
#main-header input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #e6ebf2 !important;
}
#et-info-phone {
    margin-right: 13px;
    font-size: 30px;
    font-family: roboto;
    color: #091329;
    font-weight: 700;
    margin-right: 0;
}
#et-info-phone:before {color: #4181fa;}
#et-info-email {
	font-size: 16px;
	  font-family: 'Roboto', sans-serif;
	color: rgb(9, 19, 41);
	float: right;
}
#et-info-email::before {
	margin-right: 4px;
	content: "\f003";
	font-family: FontAwesome !important;
	color:#4181FA;
}
.search_in_header {
    float: left;
    width: 60%;
}
.inner_wrapper_header {
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.header_right {margin-top: 20px;}
.search_area {margin-top: 11px;}
#et-top-navigation {padding-top: 0px !important;}
/* navigation css start from Here============================ */
#et-top-navigation #top-menu-nav li a {
    padding-bottom: 25px;
    color: #091329;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
	opacity: 1 !important;
}
#et-top-navigation {
	padding: 0 !important;
	width: 100%;
}
#top-menu li {
	padding-right: 18px;
	display: block;
	float: left;
}
#top-menu li:last-child{padding-right: 0px;}
#et-top-navigation #top-menu-nav li a::after {
	content: "";
	background: #125790;
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 6px;
	display: block;
	margin: auto;
	transition: 0.5s all;
}
#et-top-navigation #top-menu-nav li a:hover:after,#et-top-navigation #top-menu-nav li.current-menu-item a:after {
width: 83%;	
	
}
#et-top-navigation #top-menu-nav li a:hover,#et-top-navigation #top-menu-nav li.current-menu-item a{opacity: 1 !important;color:#125790;}
 
/* footer css start from here======================== */
#main-footer {background-color: #c5cdd6;}
.horizontal-sidebar {
	margin: 0px auto;
	width: 100%;
	float: left;
}
#mailpoet_form-2 {
    float: left;
    width: 20%;
    padding-right: 3%;
    margin-right: 2%;
}
#nav_menu-2 { width: 20%;
	float: left;margin-right: 2%;
}
#text-2 { width: 20%;
	float: left;margin-right: 2%;position: relative;
}
div#custom_html-3 {
    width: 20%;
    float: left;
}
.horizontal_footer {
	width: 1170px;
	margin: 0 auto !important;
}
#footer-bottom {
	background-color: #C3CCD4;
	width: 100%;
	clear: both;
}
#main-footer .widget-title {
	font-size: 18px;
	color: #29292b;
	font-weight: 700;
	font-family: roboto;
}
#mailpoet_form_1 .mailpoet_paragraph {
	line-height: 20px;
	color: #29292b;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
}
.mailpoet_text_label {
	display: none !important;
}
#mailpoet_form_1 .mailpoet_paragraph {
	line-height: 20px;
	margin: 0 !important;
	padding: 0 !important;
}
#mailpoet_form_1 .search_in_header {
	float: left;
	width: 100%;
}

#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea {
    width: 100% !important;
    padding: 10px;
    line-height: 100%;
    padding-right: 30px;
    border: 0;
    border-radius: 5px;
	background:#8994a3;
	height: 39px;
}
#mailpoet_form_1 .search_in_header {
      position: relative;margin-top: 15px;
 }
.search_in_header .mailpoet_paragraph:last-child {
	color: red;
	background:none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 100%;

}
.mailpoet_submit {
    text-indent: -9999px;
    overflow: hidden;
    width: 100%;
    border: 0px none;
    height: 39px;
    background: #0C76C3 url(images/mail.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 5px 5px 0px;
}
#menu-quick-links li a {
    color: #29292b;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 10px;
    display: block;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	opacity:1 !important;
}
#menu-quick-links li a:hover{color:#0C76C3;}
#main-footer p ,#custom_html-3 .textwidget.custom-html-widget{
	color: #29292b;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
}
#main-footer {padding-top: 130px;}
#text-2 .separator {
    background: url(images/chat-icon.png);
    height: 70px;
    width: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    display: block;
    background-repeat: no-repeat;
}
#mailpoet_form-2 {
    float: left;
    width: 23%;
    padding-right: 3%;
    margin-right: 5%;
}
#nav_menu-2 {
    width: 20%;
    float: left;
    margin-right: 3%;
}
#text-2 {
    width: 20%;
    float: left;
    margin-right: 8%;
    position: relative;
}
div#custom_html-3 {
    width: 21%;
    float: left;
}
header#main-header {
    background: #ebeff5;
}
#main-footer {
	padding-top: 130px;
	width: 100%;
	float: left;
}
#footer-bottom {
	background-color: #C3CCD4;
	margin-top: 35px !important;
	width: 100%;
	float: left;
}
#main-footer {
	background-color: #c5cdd6 !important;
}
.wrapper_contact #et-info-phone {
	font-size: 18px;
	margin-top: 10px !important;
	display: block;
}
.wrapper_contact #et-info-email {
	font-size: 14px;
	float: left;
}
#et-info-email:before {margin-right: 10px;	}
.wrapper_contact #et-info-email::before {
	margin-right: 14px;
	
}
#et-info-phone:before {margin-right: 10px;}
#footer-bottom .container.clearfix {
	border-top: 1px solid #8994a3;
}
#footer-bottom {
       padding-top: 0;
}
#footer-bottom .container.clearfix {
    border-top: 1px solid #8994a3;
    padding: 10px 0px;
    font-size: 12px;
    color: #29292b;
	font-family: 'Roboto', sans-serif;
}
/* banner section start from here =================================== */
.header-content-container.center {
	width: 50% !important;
}
.Banner_main_sect .et_pb_module_header {
	font-size: 58px !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;line-height: 70px;
}
.Banner_main_sect .et_pb_fullwidth_header_subhead {
	font-size: 38px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 100%;
	margin-bottom: 35px;
}
.Banner_main_sect .et_pb_more_button {
    background: #4181FA none repeat scroll 0% 0%;
    border: 0px none;
    position: relative !important;
    z-index: 999;
   padding: 0.1em 1.5em !important;
    margin: 0 !important;
    font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;text-decoration: none !important;
}
.Banner_main_sect .et_pb_more_button:after {
    content: "";
    opacity: 1 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    border: 1px solid #4181FA;
    z-index: -1;
    left: 10px !important;
    top: 10px !important;
	margin-left:0 !important;
}
/* service section start from here =================================== */
div#banner_four_blocks {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
div#banner_four_blocks {padding: 0;}
h4.et_pb_module_header {
    margin: 0;
}
#banner_four_blocks .et_pb_gutters3 .et_pb_column_1_4{
	
}
#banner_four_blocks .et_pb_gutters3 .et_pb_column{
	
}
#banner_four_blocks .et_pb_column.et_pb_column_1_4{
width: 25% !important;top:0;
margin-right: 0 !important;	
}
.blue_sect{
background:#0067d6 !important;}	

#banner_four_blocks .et_pb_column.et_pb_column_1_4 .et_pb_blurb {padding:10px 20px !important;min-height: 165px;}
#banner_four_blocks h4.et_pb_module_header {
	margin: 0px;
	font-size: 24px;
	font-family: roboto;
	min-height: auto;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.et_pb_blurb_description p {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	line-height: 100%;
	font-weight: 400;
}
.et_pb_blurb_description p span {
	color: #0067D6;
	font-weight: 700;
}
#banner_four_blocks .et_pb_column.et_pb_column_1_4:hover {
	top: -20px;
}
#banner_four_blocks .et_pb_column.et_pb_column_1_4{
	position:relative;
	transition:0.5s all;
	-webkit-transition:0.5s all;
}
.et_pb_fullwidth_header_0 {
    padding-top: 70px !important;
    padding-bottom: 90px!important;
}
.Banner_main_sect .et_pb_more_button.et_pb_button.et_pb_button_one:hover {
	color: #333 !important;
}
.Describetion_main_wrappe_div {padding-top: 0 !important;}
.Describetion_main_wrappe_div .et_pb_row.et_pb_row_1 {
	font-size: 18px;
	color: #0d122a;
	line-height: 27px;
	font-family: 'Nunito', sans-serif;
}
.product_main_wrappe_div .et_pb_fullwidth_code {
    width: 1170px;
    margin: 0 auto;
}
.et_pb_section {background-color: #ececec;}
.product_main_wrappe_div ul{padding:0;margin:0;}
.product_main_wrappe_div li.home_category {
    width: 31%;
    float: left;
    margin-right: 2%;
    list-style: none;
	margin-bottom: 25px;
	border-radius: 5px;
}
.product_main_wrappe_div li.home_category:last-child{
  margin-right: 0 !important;	
	
}
.product_main_wrappe_div .image_wrap_categories {
    width: 100%;
    height: 200px;
    background: #fff;
	border-radius: 6px 6px 0px 0px;
	position: relative;
}
.product_main_wrappe_div .image_wrap_categories img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.product_main_wrappe_div h2 {
    margin: 0;
    background: #0651e0;
    text-align: center;
    color: #fff !important;
    font-size: 20px !important;
    padding: 10px 0px;
    font-family: roboto;
    border-radius: 0px 0px 6px 6px;
    font-weight: 400 !important;
    text-decoration: none !important;
    text-transform: capitalize;
}
.product_main_wrappe_div a{
color: #fff !important;
    text-decoration: none !important;
    display: block;	
	
	
	
}
/* Servicing_Repairs sect css start from here */
.Servicing_Repairs_main_wrappe h2 {
    font-size: 38px;
    color: #29292b;
    font-family: roboto;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    line-height: 45px;
    margin-top: 0;
}
.Servicing_Repairs_main_wrappe .et_pb_button   {
    background: #4181FA !important;
    border: 0px none;
    position: relative !important;
    z-index: 999;
   padding: 0.1em 1.5em !important;
   color:#fff !important;
    margin: 0 !important;
    font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;text-decoration: none !important;
}
.Servicing_Repairs_main_wrappe .et_pb_button a{color:#fff;}
.Servicing_Repairs_main_wrappe .et_pb_button:after {
    content: "";
    opacity: 1 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    border: 1px solid #4181FA;
    z-index: -1;
    left: 10px !important;
    top: 10px !important;
	margin-left:0 !important;
}
.Servicing_Repairs_main_wrappe .et_pb_button:hover {
	color: #333 !important;border: 0 !important;
	
}
.Servicing_Repairs_main_wrappe p {
    color: #29292b;
    font-size: 14px;
    line-height: 20px;
	font-family: 'Nunito', sans-serif;
}
.Servicing_Repairs_main_wrappe .et_pb_image .et_pb_image_wrap {
     float: right;
}
.Servicing_Repairs_main_wrappe .right_sect_main_div {
	positiion:relative;
	
}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_0 ,.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1{
    width: 82px;
    height: 82px;
    background: #4181fa;
    text-align: center;
    color: #fff;
    font-size: 30px;
    display: block;
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto !important;
}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_0 i.fa.fa-chevron-left,.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1 i.fa.fa-chevron-left {
    line-height: 70px;
}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_0 a,.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1 a{color:#fff;}
/* news section strat from here ==================================== */
.News_wrappe_main_div #news_section_home .column.size-1of3{width: 32%;
    margin-right: 2%;}
.News_wrappe_main_div {padding-top: 0 !important;}	
.News_wrappe_main_div h2 {
    font-size: 46px;
    color: #29292b;
   font-family: 'Roboto', sans-serif;
    margin: 0;
	    font-weight: 700 !important;
}
.News_wrappe_main_div #news_section_home article{background:#363639 !important;position:relative;
border-radius: 10px !important;border-radius: 10px;box-shadow: 2px 3px 6px 0px #888;
}	

.News_wrappe_main_div #news_section_home .et_pb_image_container {
    width: auto;
    height: 250px;
    background: #fff;
	position:relative;border-radius: 10px 10px 0 0;
}
.News_wrappe_main_div #news_section_home a.entry-featured-image-url {
    height: 100%;
    margin: 0 !important;
}
.News_wrappe_main_div #news_section_home .et_pb_image_container  img{
 width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    padding: 5px;
    margin: 0;
    min-width: auto;
}
.News_wrappe_main_div #news_section_home h2.entry-title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
	  font-weight: 500 !important;
	  font-family: 'Roboto', sans-serif;
}
.News_wrappe_main_div #news_section_home .post-content p {
	font-family: "Nunito",sans-serif;
color: #FFF !important;
font-size: 12px;
text-align: center;
line-height: 15px;
}
.News_wrappe_main_div #news_section_home .post-content {
	text-align: center;
}
.News_wrappe_main_div #news_section_home .more-link {
	font-size: 12px;
	text-transform: capitalize;
	color: #0e77ec;
	font-weight: 800;
	font-family: 'Roboto', sans-serif;
}
.News_wrappe_main_div #news_section_home .et_pb_post .post-meta {
	font-size: 12px;
	font-weight: 900;
	padding: 10px;
	position: absolute;
	left: 0px;
	right: 0px;
	width: 120px;
	margin: auto;
	top: 230px;
	background: #4181FA;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-family: 'Nunito', sans-serif;
}
/* supplyer css sratr */
#et-main-area {background: #ECECEC;}
.parent_carousel_wrapper .img_supplier.item {
	width: 100%;
	height: 150px;
	background: #fff;
	position:relative;
}
.parent_carousel_wrapper .img_supplier.item img{
	display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	
}
.parent_carousel_wrapper {
    padding: 0px 30px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-dots {
	display: block !important;
	position: absolute;
	top: -30px;
	left: 0px;
}
.parent_carousel_wrapper .owl-nav {
    display: none;
}
.parent_carousel_wrapper h2 {
	font-size: 46px;
	color: #29292B;
	font-weight: 700;
	text-align: center;
	/* margin-bottom: 50px; */
	text-transform: uppercase;
}
.parent_carousel_wrapper #supplier_carousel {
	position: relative;
	top: 55px;
}
.owl-theme .owl-dots .owl-dot span {
	width: 14px;
	height: 14px;
	background: #363639;
	}
.owl-theme .owl-dots .owl-dot.active span {
	background: #008ef0;
}	
.News_wrappe_main_div {
	padding-top: 0px !important;
	padding-bottom: 0 !important;
}
.News_wrappe_main_div #news_section_home article {
	box-shadow: 1px 0px 2px 0px #000;
	border: 0px none;
}
.Banner_main_sect .et_pb_more_button.et_pb_button.et_pb_button_one:hover {
   border: 0;
}
#top-menu li {padding-right: 1px; }
/* offer slider start from here ==================================== */
.offer_product_details {
	width: 300px;
	height: auto;
	background: #333;
}
.flipster__item__content {
    width: 300px;
    height: 300px;
    background: #333;
    position: relative;
    color: #fff;
}
.img_offer_product {
    width: 200px;
    height: 200px;
    background: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -143px;
    border: 2px solid #ccc;
}
.img_offer_product img{
position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
right:0;
left:0;	
max-width:100%;
width:auto;
height:auto;
max-height:100%;
	
}
.price_wrappe {	text-align: right;}
.sale_wrape {
	width: 100px;
	height: 100px;
	background:url("images/sale.png");
	display: block;
	background-repeat: no-repeat;
	float: right;
	background-position: top right;
}
.price_wrappe {
	text-align: right;
	position: absolute !important;
	height: 100px;
	margin: auto !important;
	display: block;
	top: 0px;
	bottom: 0px;
	width: 95%;
}
.offer_product_details {height: 100%;}
.title_wrappe,.cost_wrape,.regular_price {font-size: 18px;text-transform: capitalize;font-family: "Roboto",sans-serif;}
 .regular_price {text-decoration: line-through;}
.sale_price {font-size: 28px;color: #3368f8;font-family: "Roboto",sans-serif;}
.link_offer_product {
	height: 60px;
	width: 60px;
	background: #0C76C3;
	color: #FFF;
	display: block;
	float: right;
	text-align: center;
	font-size: 25px;
	line-height: 60px;
	position: absolute;
	right: -40px;
	top: auto;
	bottom: -115px;
}
.flipster__nav {display: none !important;}
.flipster__button {opacity: 1;}
.flipster__button svg {stroke:#363639;}
h2.offer_h2 {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 700;
    color: #29292b;
    margin-top: 80px;
    margin-bottom: 40px;
	font-family: "Roboto",sans-serif;
}
/* offer slider end from here ==================================== */

/*  asana issues css start from here ================================== */
.cart_header {
	padding-right: 18px !important;
}
.fas.fa-shopping-cart {	margin-left: 10px;}
.fas.fa-shopping-cart:before {
	width: 24px;
}
.fa-user:before {
	left: -16px;
	width: 16px;
	height: 16px;
	background-size: 100%;
}
.search_area {
    width: 120%;
    position: relative;
    left: -101px;
}
#main-header input[type="text"] {
	padding: 12px 45px 12px 10px;
	
}

#et-info-phone {padding-left: 0px;}
#et-info-phone:before {
	position: relative;
	top: 2px;
	margin-right: 11px;
	content: "";
	background: url("images/cell.png");
	width: 22px;
	height: 30px;
	display: inline-block;
}
#et-info-email::before {
    position: relative;
    top: 2px;
    margin-right: 7px;
    content: "";
    background:url("images/mail-h.png");
    width: 24px;
    height: 18px;
    display: inline-block;
}
.menu-social-menu-container .fa-facebook-f:before{
	position: relative;
    top: 2px;
    margin-right: 7px;
    content: "" !important;
    background:url("images/facebook.png");
    width: 12px;
    height: 18px;
    display: inline-block;
}
.menu-social-menu-container .fa-google-plus:before {
	position: relative;
	top: 2px;
	margin-right: 7px;
	content: "" !important;
	background:url("images/twitter.png");
	width: 26px;
	height: 16px;
	display: inline-block;
}
.menu-social-menu-container .fa-linkedin:before {
	position: relative;
	top: 2px;
	margin-right: 7px;
	content: "" !important;
	background: url("images/inliked.png");
	width: 20px;
	height: 20px;
	display: inline-block;
}
.menu-social-menu-container .fa-twitter::before {
	position: relative;
	top: 2px;
	margin-right: 7px;
	content: "" !important;
	background: url("images/google.png");
	width: 20px;
	height: 18px;
	display: inline-block;
}
ul#right_top_header li {padding: 13px 10px;}
#banner_four_blocks .et_pb_column.et_pb_column_1_4 .et_pb_blurb {
       background: #363639;
}
.Describetion_main_wrappe_div .et_pb_row.et_pb_row_1 p {
    font-size: 18px;
    color: #0d122a;
    line-height: 27px;
    font-family: 'Nunito', sans-serif;
}
.product_main_wrappe_div .image_wrap_categories {background: #f8f8f8;}
.product_main_wrappe_div li.home_category {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 35px;
  
}
.Servicing_Repairs_main_wrappe h2 {letter-spacing: 1px;}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1 i.fa.fa-chevron-left {
    line-height: 80px;
}
.parent_carousel_wrapper h2 {letter-spacing: 1px;}
.parent_carousel_wrapper #supplier_carousel {top: 70px;}
.mailpoet_submit {
    height: 44px;
    background-color: #4181fa;
    
}
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea {
    height: 44px;
}
.search_in_header .mailpoet_paragraph:last-child {width: 52px;}
#footer-bottom .container.clearfix {
    font-size: 12px !important;
    font-weight: 400 !important;
}
#menu-quick-links li a {margin-bottom: 7px;}
#text-2 .textwidget {width: 182px;}
.wrapper_contact #et-info-phone:before {
    top: 9px;
    background-size: 17px;
    background-repeat: no-repeat;
}
.wrapper_contact #et-info-email:before {
    top: 4px;
    background-size: 22px;
    background-repeat: no-repeat;
}
.News_wrappe_main_div #news_section_home article{
    min-height: 450px !important;
}
.News_wrappe_main_div h2 {
     text-transform: uppercase;
}
a.catalogue_blue {
    color: #0e77ec;
    font-weight: 500;
    text-decoration: underline;
    font-family: roboto;
}

