
@media screen and (min-width:981px) and (max-width:1250px){
.et_fullwidth_nav #main-header .container {
	width: 100%;
}
.container {width: 100%;
}	
.et_fullwidth_nav #main-header .container {	width: 100% !important;}	
.product_main_wrappe_div .et_pb_fullwidth_code,.horizontal_footer {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.header_logo {left: -50px;}	
#et-top-navigation #top-menu-nav li a {	font-size: 12px;padding: 10px 10px;}
.et_pb_row {width: 95%;	max-width: none;}
.product_main_wrappe_div .et_pb_fullwidth_code {padding-left: 4%;}
#footer-bottom {padding-left: 15px;	padding-right: 15px;}
.search_area {
	width: 100%;
	position: relative;
	left: 0px;
}
/* category page css */
#main-content .products li .button {
	padding: 12px 6px !important;
	font-size: 12px;
	
}
#banner_four_blocks h4.et_pb_module_header {font-size: 18px;}	
h1.woocommerce-products-header__title.page-title {
	font-size: 20px;
	
}

/* category page End css */





}
@media (max-width:980px){
.et_fullwidth_nav #main-header .container {	width: 100%;}
.container {width: 100%;}		
.product_main_wrappe_div .et_pb_fullwidth_code {width: 90%;}	
.product_main_wrappe_div li.home_category {	width: 100%;margin-right: 0;}	
.horizontal_footer {width: 90%;}	
#mailpoet_form-2,#nav_menu-2,#text-2,div#custom_html-3 {float: none;width: 100%;padding-right: 0;margin-right: 0;}	
.bottom_footer_right,.bottom_footer_left {float: none;display: block;text-align: center;}	
#banner_four_blocks .et_pb_column.et_pb_column_1_4 {width: 100% !important;	margin-bottom: 0;}	
.Banner_main_sect .et_pb_module_header {font-size: 44px !important;font-family: "Roboto",sans-serif;font-weight: 400;line-height: 50px;}	
.et_pb_fullwidth_header .et_pb_fullwidth_header_container.left {display: block;}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container {width: 90%;max-width: none;}
.header-content-container.center {width: 80% !important;}
.et_pb_fullwidth_header_0 {padding-top: 20px !important;padding-bottom: 20px !important;}
.Banner_main_sect .et_pb_fullwidth_header_subhead {font-size: 18px;}
.header_logo {
	float: none;
	position: relative;
	left: 0px;
	width: 100%;
}
/* header css start */
.mobile_menu_bar.mobile_menu_bar_toggle {
	position: absolute;
	top: 0;
	right: 0;
}
.header_logo {float: none;position: relative;left: 0px;width: 100%;}
.header_right {float: none;width: 100%;}
.contact_info_header {float: none;}
#et-info-phone {
	font-size: 19px;
	margin-right: 0px;
	text-align: left;
}
#et-info-email {
	font-size: 12px;
	float: left;
}
.et_fullwidth_nav #main-header .container {padding: 0px;}
.search_in_header {
	float: none;
	width: 100%;
}
.header_right {
	float: none;
	width: 90%;
	margin: 0 auto;
}
#et-info-phone {float: left;}	
.et_pb_section {padding: 25px 0px;}	
.Servicing_Repairs_main_wrappe h2 {font-size: 25px;line-height: 35px;}
.Servicing_Repairs_main_wrappe .et_pb_button {padding: 0.1em 20px !important;font-size: 20px;}
.et_pb_section.Servicing_Repairs_main_wrappe.et_pb_section_6{padding-top: 0;}
.News_wrappe_main_div .et_pb_column {margin-bottom: 0px;}
.parent_carousel_wrapper h2 {font-size: 35px;}
.Banner_main_sect .et_pb_more_button {padding: 0.1em 20px !important;}
.News_wrappe_main_div .et_pb_row.et_pb_row_4 {
	padding-top: 0;
	padding-bottom: 0;
}
#main-footer {padding-top: 85px;}
#mailpoet_form-2, #nav_menu-2, #text-2, div#custom_html-3 {
	float: left;
	margin-bottom: 20px !important;
}
#main-footer p:empty{display:none !important;}
div#custom_html-3 {margin-bottom: 0px !important;}
.Describetion_main_wrappe_div .et_pb_row {width: 90%;}
.img_offer_product {
	width: 80px;
	height: 80px;
	left: -12px;
}
.flipster__item__content {
	width: 250px;
	height: 280px;
	
}
.offer_product_details {
		width: 250px;
}
.flipster__button svg {stroke:#ccc !important;}
.search_area {
	width: 100%;
	position: relative;
	left: 0px;
}
#et-info {padding-top: 0;}
.mobile_menu_bar.mobile_menu_bar_toggle {
	top: 8px;
	right: 20px;
}
#et-info-phone {
	float: left;
	width: 100%;
}
#et-info-phone::before {
	position: relative;
	top: 7px;
	background-size: 18px;
	background-repeat: no-repeat;
}
#main-content .products li .button {
	padding: 12px 6px !important;
	font-size: 12px;
	
}
/* cetegory page css start */
.breadcrums_wrapper .woocommerce-breadcrumb {font-size: 12px !important;}
.breadcrums_wrapper .woocommerce-breadcrumb a {font-size: 12px;}
.breadcrums_wrapper .woocommerce-breadcrumb {
	font-size: 12px !important;
	padding-left: 32px;
	position: relative;
}
.woocommerce-breadcrumb a:first-child {
	position: absolute;
	left: 0;
	top: 13px;
}
h1.woocommerce-products-header__title.page-title {
	font-size: 20px;
	}
#parent_sortby ul.newulmenu li a {
	font-size: 13px;
	padding: 1px 12px;
	display: inline-block;
	
}
li.newlimenu {
	float: none;
	padding-right: 0;
	display: inline-block;
}
header.woocommerce-products-header {font-size: 14px;}
.cat_bottom_disc .container {
	font-size: 14px;
	}
/* #main-content .products li {width: 100% !important;} */
.et_right_sidebar #left-area {padding-left: 0;padding-right: 0;}
#featured_prodct_from_another .et_pb_row_1 .et_pb_column {
	margin-bottom: 0 !important;
}
#featured_prodct_from_another .featured_p_sngl_pg {margin: 0;}
#featured_prodct_from_another .et_pb_row.et_pb_row_2.et_pb_row_4col {width: 95% !important;}





}
@media (max-width:560px){
    .News_wrappe_main_div #news_section_home .column.size-1of3{
        width: auto !important;
    }
	#main-content .products li {
	
	width: 100% !important;
}
	
	
	
	
}

@media screen and (min-width:768px) and (max-width:1170px){
	 #main-content .products li {
	width: 47% !important;
	margin-right: 2.2% !important;
	margin-bottom: 20px !important;
	/* fill: l; */
	float: left;
	/* min-height: 527px; */
	clear: none;
}
#featured_prodct_from_another .et_pb_row {width: 96% !important;}







	
}

@media (max-width:767px){
 #main-content .products li {
	width: 100% !important;
	margin-right: 0% !important;
	margin-bottom: 20px !important;
} 	
	
}
