/*
Theme Name: Divi Child Theme
Description: Divi Child Theme
Author:  We Are Pixel
Author URI:  http://www.wearepixel.co.uk
Template: Divi
Version:  1.0.2
*/

 
/* =Theme customizations
------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
 @import url("https://use.typekit.net/xhu0dah.css");
@font-face {
  font-family: 'MuseoSans-500';
  src: url('MuseoSans-500.eot?#iefix') format('embedded-opentype'),
  url('fonts/MuseoSans-500.otf')  format('opentype'),
	     url('fonts/MuseoSans-500.woff') format('woff'), 
		 url('fonts/MuseoSans-500.ttf')  format('truetype'),
		 url('fonts/MuseoSans-500.svg#MuseoSans-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
#top-header{background-color: #c5cdd6;}
#top-header .container {padding-top: 0;}
#et-info {padding-bottom: 0;}
#et-secondary-menu > ul > li a {padding-bottom: 0;}
#et-secondary-menu .fas.fa-user {position: relative;display: block;}
.fa-user:before {
	content: "" !important;
	position: absolute;
	left: -15px;
	width: 18px;
	height: 18px;
	background:url("images/user.png");
	display: block;
	top: -3px;
}
.fas.fa-shopping-cart {
	position: relative;
	display: block;
	float: right;
	margin-left: 8px;
}
.fas.fa-shopping-cart:before {
	content: "" !important;
	position: absolute;
	left: -15px;
	width: 18px;
	height: 18px;
	background:url("images/chart.png");
	display: block;
	top: -3px;
}
#right_top_header li a {
	color: #000;
	font-family: roboto;
	font-size: 14px;
	font-weight: 400 !important;
}
#menu-social-menu li {
	padding: 8px 5px;
}
.container {
	position: relative;
	width: 1170px;
	max-width: none;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#menu-social-menu {
	margin-bottom: 0 !important;
}
ul{margin-bottom: 0 !important;}
.et_fullwidth_nav #main-header .container {
	width: 1170px;
	max-width: none;
	padding-right: 0;
	padding-left: 15px;
	padding-right: 15px;
}
span.logo_helper {display: none;}
.header_logo {
	width: 30%;
	float: left;
	position: relative;
	left: -160px;
}
#main-header input[type="text"] {
    padding: 10px;
    border: 0px solid #BBB;
    color: #e6ebf2;
    background-color: #8994a3;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 100%;
    border-radius: 5px;
    line-height: 100%;
    padding-right: 45px;
    text-transform: uppercase;
    font-size: 14px;
    /* letter-spacing: 1px; */
}
#searchsubmit {
    margin-left: 0;
    position: absolute;
    right: 0px;
    top: 0;
    background: #4181fa url(images/search-icon.png);
    border: 0;
    height: 100%;
    width: 41px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0px 5px 5px 0px;
    background-size: 18px auto;
}
.search_area {
    width: 100%;
    position: relative;
}
#main-header input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e6ebf2 !important;
}
#main-header input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #e6ebf2 !important;
}
#main-header input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #e6ebf2 !important;
}
#main-header input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #e6ebf2 !important;
}
#et-info-phone {
    margin-right: 13px;
    font-size: 30px;
    font-family: roboto;
    color: #091329;
    font-weight: 700;
    margin-right: 0;
}
#et-info-phone:before {color: #4181fa;}
#et-info-email {
	font-size: 16px;
	  font-family: 'Roboto', sans-serif;
	color: rgb(9, 19, 41);
	float: right;
}
#et-info-email::before {
	margin-right: 4px;
	content: "\f003";
	font-family: FontAwesome !important;
	color:#4181FA;
}
.search_in_header {
    float: left;
    width: 60%;
}
.inner_wrapper_header {
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.header_right {margin-top: 20px;}
.search_area {margin-top: 11px;}
#et-top-navigation {padding-top: 0px !important;}
/* navigation css start from Here============================ */
#et-top-navigation #top-menu-nav li a {
    padding-bottom: 25px;
    color: #091329;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
	opacity: 1 !important;
}
#et-top-navigation {
	padding: 0 !important;
	width: 100%;
}
#top-menu li {
	padding-right: 18px;
	display: block;
	float: left;
}
#top-menu li:last-child{padding-right: 0px;}
#et-top-navigation #top-menu-nav li a::after {
	content: "";
	background: #125790;
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 6px;
	display: block;
	margin: auto;
	transition: 0.5s all;
}
#et-top-navigation #top-menu-nav li a:hover:after,#et-top-navigation #top-menu-nav li.current-menu-item a:after {
width: 83%;	
	
}
#et-top-navigation #top-menu-nav li a:hover,#et-top-navigation #top-menu-nav li.current-menu-item a{opacity: 1 !important;color:#125790;}
 
/* footer css start from here======================== */
#main-footer {background-color: #c5cdd6;}
.horizontal-sidebar {
	margin: 0px auto;
	width: 100%;
	float: left;
}
#mailpoet_form-2 {
    float: left;
    width: 20%;
    padding-right: 3%;
    margin-right: 2%;
}
#nav_menu-2 { width: 20%;
	float: left;margin-right: 2%;
}
#text-2 { width: 20%;
	float: left;margin-right: 2%;position: relative;
}
div#custom_html-3 {
    width: 20%;
    float: left;
}
.horizontal_footer {
	width: 1170px;
	margin: 0 auto !important;
}
#footer-bottom {
	background-color: #C3CCD4;
	width: 100%;
	clear: both;
}
#main-footer .widget-title {
	font-size: 18px;
	color: #29292b;
	font-weight: 700;
	font-family: roboto;
}
#mailpoet_form_1 .mailpoet_paragraph {
	line-height: 20px;
	color: #29292b;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
}
.mailpoet_text_label {
	display: none !important;
}
#mailpoet_form_1 .mailpoet_paragraph {
	line-height: 20px;
	margin: 0 !important;
	padding: 0 !important;
}
#mailpoet_form_1 .search_in_header {
	float: left;
	width: 100%;
}

#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea {
    width: 100% !important;
    padding: 10px;
    line-height: 100%;
    padding-right: 30px;
    border: 0;
    border-radius: 5px;
	background:#8994a3;
	height: 39px;
	font-family: 'MuseoSans-500';
	color:#ffffff;
}
#mailpoet_form_1 .search_in_header {
      position: relative;margin-top: 15px;
 }
.search_in_header .mailpoet_paragraph:last-child {
	color: red;
	background:none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 100%;

}
.mailpoet_submit {
    text-indent: -9999px;
    overflow: hidden;
    width: 100%;
    border: 0px none;
    height: 39px;
    background: #0C76C3 url(images/mail.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 5px 5px 0px;
}
#menu-quick-links li a {
    color: #29292b;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 10px;
    display: block;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	opacity:1 !important;
}
#menu-quick-links li a:hover{color:#0C76C3;}
#main-footer p ,#custom_html-3 .textwidget.custom-html-widget{
	color: #29292b;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
}
#main-footer {padding-top: 130px;}
#text-2 .separator {
    background: url(images/chat-icon.png);
    height: 70px;
    width: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    display: block;
    background-repeat: no-repeat;
}
#mailpoet_form-2 {
    float: left;
    width: 23%;
    padding-right: 3%;
    margin-right: 5%;
}
#nav_menu-2 {
    width: 20%;
    float: left;
    margin-right: 3%;
}
#text-2 {
    width: 20%;
    float: left;
    margin-right: 8%;
    position: relative;
}
div#custom_html-3 {
    width: 21%;
    float: left;
}
header#main-header {
    background: #ebeff5;
}
#main-footer {
	padding-top: 130px;
	width: 100%;
	float: left;
}
#footer-bottom {
	background-color: #C3CCD4;
	margin-top: 35px !important;
	width: 100%;
	float: left;
}
#main-footer {
	background-color: #c5cdd6 !important;
}
.wrapper_contact #et-info-phone {
	font-size: 18px;
	margin-top: 10px !important;
	display: block;
}
.wrapper_contact #et-info-email {
	font-size: 14px;
	float: left;
}
#et-info-email:before {margin-right: 10px;	}
.wrapper_contact #et-info-email::before {
	margin-right: 14px;
	
}
#et-info-phone:before {margin-right: 10px;}
#footer-bottom .container.clearfix {
	border-top: 1px solid #8994a3;
}
#footer-bottom {
       padding-top: 0;
}
#footer-bottom .container.clearfix {
    border-top: 1px solid #8994a3;
    padding: 10px 0px;
    font-size: 12px;
    color: #29292b;
	font-family: 'Roboto', sans-serif;
}
/* banner section start from here =================================== */
.header-content-container.center {
	width: 50% !important;
}
.Banner_main_sect .et_pb_module_header {
	font-size: 58px !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;line-height: 70px;
}
.Banner_main_sect .et_pb_fullwidth_header_subhead {
	font-size: 38px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 100%;
	margin-bottom: 35px;
}
.Banner_main_sect .et_pb_more_button {
    background: #4181FA none repeat scroll 0% 0%;
    border: 0px none;
    position: relative !important;
    z-index: 999;
   padding: 0.1em 1.5em !important;
    margin: 0 !important;
    font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;text-decoration: none !important;
}
.Banner_main_sect .et_pb_more_button:after {
    content: "";
    opacity: 1 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    border: 1px solid #4181FA;
    z-index: -1;
    left: 10px !important;
    top: 10px !important;
	margin-left:0 !important;
}
/* service section start from here =================================== */
div#banner_four_blocks {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
div#banner_four_blocks {padding: 0;}
h4.et_pb_module_header {
    margin: 0;
}
#banner_four_blocks .et_pb_gutters3 .et_pb_column_1_4{
	
}
#banner_four_blocks .et_pb_gutters3 .et_pb_column{
	
}
#banner_four_blocks .et_pb_column.et_pb_column_1_4{
width: 25% !important;top:0;
margin-right: 0 !important;	
}
.blue_sect{
background:#0067d6 !important;}	

#banner_four_blocks .et_pb_column.et_pb_column_1_4 .et_pb_blurb {padding:10px 20px !important;min-height: 165px;}
#banner_four_blocks h4.et_pb_module_header {
	margin: 0px;
	font-size: 24px;
	font-family: roboto;
	min-height: auto;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.et_pb_blurb_description p {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	line-height: 100%;
	font-weight: 400;
}
.et_pb_blurb_description p span {
	color: #0067D6;
	font-weight: 700;
}
#banner_four_blocks .et_pb_column.et_pb_column_1_4:hover {
	top: -20px;
}
#banner_four_blocks .et_pb_column.et_pb_column_1_4{
	position:relative;
	transition:0.5s all;
	-webkit-transition:0.5s all;
}
.et_pb_fullwidth_header_0 {
    padding-top: 70px !important;
    padding-bottom: 90px!important;
}
.Banner_main_sect .et_pb_more_button.et_pb_button.et_pb_button_one:hover {
	color: #333 !important;
}
.Describetion_main_wrappe_div {padding-top: 0 !important;}
.Describetion_main_wrappe_div .et_pb_row.et_pb_row_1 {
	font-size: 18px;
	color: #0d122a;
	line-height: 27px;
	font-family: 'Nunito', sans-serif;
}
.product_main_wrappe_div .et_pb_fullwidth_code {
    width: 1170px;
    margin: 0 auto;
}
.et_pb_section {background-color: #ececec;}
.product_main_wrappe_div ul{padding:0;margin:0;}
.product_main_wrappe_div li.home_category {
    width: 31%;
    float: left;
    margin-right: 2%;
    list-style: none;
	margin-bottom: 25px;
	border-radius: 5px;
}
.product_main_wrappe_div li.home_category:last-child{
  margin-right: 0 !important;	
	
}
.product_main_wrappe_div .image_wrap_categories {
    width: 100%;
    height: 200px;
    background: #fff;
	border-radius: 6px 6px 0px 0px;
	position: relative;
}
.product_main_wrappe_div .image_wrap_categories img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.product_main_wrappe_div h2 {
    margin: 0;
    background: #0651e0;
    text-align: center;
    color: #fff !important;
    font-size: 20px !important;
    padding: 10px 0px;
    font-family: roboto;
    border-radius: 0px 0px 6px 6px;
    font-weight: 400 !important;
    text-decoration: none !important;
    text-transform: capitalize;
}
.product_main_wrappe_div a{
color: #fff !important;
    text-decoration: none !important;
    display: block;	
	
	
	
}
/* Servicing_Repairs sect css start from here */
.Servicing_Repairs_main_wrappe h2 {
    font-size: 38px;
    color: #29292b;
    font-family: roboto;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    line-height: 45px;
    margin-top: 0;
}
.Servicing_Repairs_main_wrappe .et_pb_button   {
    background: #4181FA !important;
    border: 0px none;
    position: relative !important;
    z-index: 999;
   padding: 0.1em 1.5em !important;
   color:#fff !important;
    margin: 0 !important;
    font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;text-decoration: none !important;
}
.Servicing_Repairs_main_wrappe .et_pb_button a{color:#fff;}
.Servicing_Repairs_main_wrappe .et_pb_button:after {
    content: "";
    opacity: 1 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    border: 1px solid #4181FA;
    z-index: -1;
    left: 10px !important;
    top: 10px !important;
	margin-left:0 !important;
}
.Servicing_Repairs_main_wrappe .et_pb_button:hover {
	color: #333 !important;border: 0 !important;
	
}
.Servicing_Repairs_main_wrappe p {
    color: #29292b;
    font-size: 14px;
    line-height: 20px;
	font-family: 'Nunito', sans-serif;
}
.Servicing_Repairs_main_wrappe .et_pb_image .et_pb_image_wrap {
     float: right;
}
.Servicing_Repairs_main_wrappe .right_sect_main_div {
	positiion:relative;
	
}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_0 ,.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1{
    width: 82px;
    height: 82px;
    background: #4181fa;
    text-align: center;
    color: #fff;
    font-size: 30px;
    display: block;
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto !important;
}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_0 i.fa.fa-chevron-left,.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1 i.fa.fa-chevron-left {
    line-height: 70px;
}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_0 a,.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1 a{color:#fff;}
/* news section strat from here ==================================== */
.News_wrappe_main_div #news_section_home .column.size-1of3{width: 32%;
    margin-right: 2%;}
.News_wrappe_main_div {padding-top: 0 !important;}	
.News_wrappe_main_div h2 {
    font-size: 46px;
    color: #29292b;
   font-family: 'Roboto', sans-serif;
    margin: 0;
	    font-weight: 700 !important;
}
.News_wrappe_main_div #news_section_home article{background:#363639 !important;position:relative;
border-radius: 10px !important;border-radius: 10px;box-shadow: 2px 3px 6px 0px #888;
}	

.News_wrappe_main_div #news_section_home .et_pb_image_container {
    width: auto;
    height: 250px;
    background: #fff;
	position:relative;border-radius: 10px 10px 0 0;
}
.News_wrappe_main_div #news_section_home a.entry-featured-image-url {
    height: 100%;
    margin: 0 !important;
}
.News_wrappe_main_div #news_section_home .et_pb_image_container  img{
 width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    padding: 5px;
    margin: 0;
    min-width: auto;
}
.News_wrappe_main_div #news_section_home h2.entry-title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
	  font-weight: 500 !important;
	  font-family: 'Roboto', sans-serif;
}
.News_wrappe_main_div #news_section_home .post-content p {
	font-family: "Nunito",sans-serif;
color: #FFF !important;
font-size: 12px;
text-align: center;
line-height: 15px;
}
.News_wrappe_main_div #news_section_home .post-content {
	text-align: center;
}
.News_wrappe_main_div #news_section_home .more-link {
	font-size: 12px;
	text-transform: capitalize;
	color: #0e77ec;
	font-weight: 800;
	font-family: 'Roboto', sans-serif;
}
.News_wrappe_main_div #news_section_home .et_pb_post .post-meta {
	font-size: 12px;
	font-weight: 900;
	padding: 10px;
	position: absolute;
	left: 0px;
	right: 0px;
	width: 120px;
	margin: auto;
	top: 230px;
	background: #4181FA;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-family: 'Nunito', sans-serif;
}
/* supplyer css sratr */
#et-main-area {background: #ECECEC;}
.parent_carousel_wrapper .img_supplier.item {
	width: 100%;
	height: 150px;
	background: #fff;
	position:relative;
}
.parent_carousel_wrapper .img_supplier.item img{
	display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	
}
.parent_carousel_wrapper {
    padding: 0px 30px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-dots {
	display: block !important;
	position: absolute;
	top: -30px;
	left: 0px;
}
.parent_carousel_wrapper .owl-nav {
    display: none;
}
.parent_carousel_wrapper h2 {
	font-size: 46px;
	color: #29292B;
	font-weight: 700;
	text-align: center;
	/* margin-bottom: 50px; */
	text-transform: uppercase;
}
.parent_carousel_wrapper #supplier_carousel {
	position: relative;
	top: 55px;
}
.owl-theme .owl-dots .owl-dot span {
	width: 14px;
	height: 14px;
	background: #363639;
	}
.owl-theme .owl-dots .owl-dot.active span {
	background: #008ef0;
}	
.News_wrappe_main_div {
	padding-top: 0px !important;
	padding-bottom: 0 !important;
}
.News_wrappe_main_div #news_section_home article {
	box-shadow: 1px 0px 2px 0px #000;
	border: 0px none;
}
.Banner_main_sect .et_pb_more_button.et_pb_button.et_pb_button_one:hover {
   border: 0;
}
#top-menu li {padding-right: 1px; }
/* offer slider start from here ==================================== */
.offer_product_details {
	width: 300px;
	height: auto;
	background: #333;
}
.flipster__item__content {
    width: 300px;
    height: 300px;
    background: #333;
    position: relative;
    color: #fff;
}
.img_offer_product {
    width: 200px;
    height: 200px;
    background: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -143px;
    border: 2px solid #ccc;
}
.img_offer_product img{
position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
right:0;
left:0;	
max-width:100%;
width:auto;
height:auto;
max-height:100%;
	
}
.price_wrappe {	text-align: right;}
.sale_wrape {
	width: 100px;
	height: 100px;
	background:url("images/sale.png");
	display: block;
	background-repeat: no-repeat;
	float: right;
	background-position: top right;
}
.price_wrappe {
	text-align: right;
	position: absolute !important;
	height: 100px;
	margin: auto !important;
	display: block;
	top: 0px;
	bottom: 0px;
	width: 95%;
}
.offer_product_details {height: 100%;}
.title_wrappe,.cost_wrape,.regular_price {font-size: 18px;text-transform: capitalize;font-family: "Roboto",sans-serif;}
 .regular_price {text-decoration: line-through;}
.sale_price {font-size: 28px;color: #3368f8;font-family: "Roboto",sans-serif;}
.link_offer_product {
	height: 60px;
	width: 60px;
	background: #0C76C3;
	color: #FFF;
	display: block;
	float: right;
	text-align: center;
	font-size: 25px;
	line-height: 60px;
	position: absolute;
	right: -40px;
	top: auto;
	bottom: -115px;
}
.flipster__nav {display: none !important;}
.flipster__button {opacity: 1;}
.flipster__button svg {stroke:#363639;}
h2.offer_h2 {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 700;
    color: #29292b;
    margin-top: 80px;
    margin-bottom: 40px;
	font-family: "Roboto",sans-serif;
}
/* offer slider end from here ==================================== */

/*  asana issues css start from here ================================== */
.cart_header {
	padding-right: 18px !important;
}
.fas.fa-shopping-cart {	margin-left: 10px;}
.fas.fa-shopping-cart:before {
	width: 24px;
}
.fa-user:before {
	left: -16px;
	width: 16px;
	height: 16px;
	background-size: 100%;
}
.search_area {
    width: 120%;
    position: relative;
    left: -101px;
}
#main-header input[type="text"] {
	padding: 12px 45px 12px 10px;
	
}

#et-info-phone {padding-left: 0px;}
#et-info-phone:before {
	position: relative;
	top: 2px;
	margin-right: 11px;
	content: "";
	background: url("images/cell.png");
	width: 22px;
	height: 30px;
	display: inline-block;
}
#et-info-email::before {
    position: relative;
    top: 2px;
    margin-right: 7px;
    content: "";
    background:url("images/mail-h.png");
    width: 24px;
    height: 18px;
    display: inline-block;
}
.menu-social-menu-container .fa-facebook-f:before{
	position: relative;
    top: 2px;
    margin-right: 7px;
    content: "" !important;
    background:url("images/facebook.png");
    width: 12px;
    height: 18px;
    display: inline-block;
}
.menu-social-menu-container .fa-google-plus:before {
	position: relative;
	top: 2px;
	margin-right: 7px;
	content: "" !important;
	background:url("images/twitter.png");
	width: 26px;
	height: 16px;
	display: inline-block;
}
.menu-social-menu-container .fa-linkedin:before {
	position: relative;
	top: 2px;
	margin-right: 7px;
	content: "" !important;
	background: url("images/inliked.png");
	width: 20px;
	height: 20px;
	display: inline-block;
}
.menu-social-menu-container .fa-twitter::before {
	position: relative;
	top: 2px;
	margin-right: 7px;
	content: "" !important;
	background: url("images/google.png");
	width: 20px;
	height: 18px;
	display: inline-block;
}
ul#right_top_header li {padding: 13px 10px;}
#banner_four_blocks .et_pb_column.et_pb_column_1_4 .et_pb_blurb {
       background: #363639;
}
.Describetion_main_wrappe_div .et_pb_row.et_pb_row_1 p {
    font-size: 18px;
    color: #0d122a;
    line-height: 27px;
    font-family: 'Nunito', sans-serif;
}
.product_main_wrappe_div .image_wrap_categories {background: #f8f8f8;}
.product_main_wrappe_div li.home_category {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 35px;
  
}
.Servicing_Repairs_main_wrappe h2 {letter-spacing: 1px;}
.Servicing_Repairs_main_wrappe .et_pb_code.et_pb_module.et_pb_code_1 i.fa.fa-chevron-left {
    line-height: 80px;
}
.parent_carousel_wrapper h2 {letter-spacing: 1px;}
.parent_carousel_wrapper #supplier_carousel {top: 70px;}
.mailpoet_submit {
    height: 44px;
    background-color: #4181fa;
    
}
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea {
    height: 44px;
}
.search_in_header .mailpoet_paragraph:last-child {width: 52px;}
#footer-bottom .container.clearfix {
    font-size: 12px !important;
    font-weight: 400 !important;
}
#menu-quick-links li a {margin-bottom: 7px;}
#text-2 .textwidget {width: 182px;}
.wrapper_contact #et-info-phone:before {
    top: 9px;
    background-size: 17px;
    background-repeat: no-repeat;
}
.wrapper_contact #et-info-email:before {
    top: 4px;
    background-size: 22px;
    background-repeat: no-repeat;
}
.News_wrappe_main_div #news_section_home article{
    min-height: 450px !important;
}
.News_wrappe_main_div h2 {
     text-transform: uppercase;
}
a.catalogue_blue {
    color: #0e77ec;
    font-weight: 500;
    text-decoration: underline;
    font-family: roboto;
}
.breadcrums_wrapper  .woocommerce-breadcrumb {
	margin: 0;
	padding: 10px 0px;
	
}
/* category css start ============================== */
.breadcrums_wrapper {
	width: 100%;
	background: #ececec !important;
}
.breadcrums_wrapper .woocommerce-breadcrumb a {
	color: #272727;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.breadcrums_wrapper .woocommerce-breadcrumb {
	color: #0c76c3 !important;
	font-size: 18px !important;
	letter-spacing: 1px;
	text-transform: capitalize;
}
#main-content {
	background-color: #f9f9f9;
}
#main-content .container {
    padding-top: 0;
}
.products li {
    width: 31% !important;
    margin-right: 2.2% !important;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    background: #fff;
	padding-bottom: 25px !important;
}
 .et_shop_image {
    display: block;
    position: relative;
    width: 100%;
     height: 200px;
}
#main-content .et_shop_image img {
    max-height: 100% !important;
    height: 100% !important;
    width: auto !important;
    max-width: 100% !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    position: absolute;
    padding: 10px !important;
}
h2.woocommerce-loop-product__title {
    padding: 0px 30px !important;
    color: #4181fa;
    font-size: 18px !important;
    font-weight: 700;
       margin-top: 20px !important;
	 font-family: 'MuseoSans-500';
	 text-transform: capitalize;
	 min-height: 35px;
}
p.product_part_no {
    padding: 0px 30px;
    color: #747474;
    font-weight: 700;
    margin: 5px 0px;
}
#main-content .products li span.price {
    padding: 0px 30px;
    margin: 5px 0px !important;
	 font-family: 'MuseoSans-500';
	 text-transform: capitalize;
}
#main-content .products li span.price del {
    margin-left: 12px !important;
    position: relative;
	 font-family: 'MuseoSans-500';
	 text-transform: capitalize;
}
#main-content .products li span.price:before {
    content: "RRP:";
    color: #303030 !important;
    text-decoration: none !important;
    position: relative;
    left: 3px;
    font-weight: 700;
	 font-family: 'MuseoSans-500';
}
#main-content .products li span.onsale {
    width: 100px !important;
    height: 100px !important;
    background: url(images/sale.png)!important;
    display: block;
    background-repeat: no-repeat !important;
    float: right;
    background-position: top right !important;
    text-indent: -999px;
    overflow: hidden;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    display: block;
    left: auto !important;
}
#main-content .products li .quantity {
    width: auto;
    margin: 0;
    float: left;
    padding-left: 30px;
}
#main-content .products li .button {
    margin-top: 0;
}
h1.woocommerce-products-header__title.page-title {
    color: #4181fa;
    letter-spacing: 1.5px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 30px;

}
header.woocommerce-products-header {
    color: #262626;
    font-size: 16px;
	
	font-family: 'MuseoSans-500';
}
.cat_bottom_disc {
    background: #f9f9f9;
    padding-bottom: 45px;
}
.cat_bottom_disc  .container {
    color: #262626;
    font-size: 16px;
	font-family: 'MuseoSans-500';
}
.cat_bottom_disc .WooCommerce_title_pa {
    color: #0067d6;
    font-size: 18px;
    margin-bottom: 20px;
	font-family: 'MuseoSans-500';
	    font-weight: 700;
}
#banner_four_blocks .et_pb_column.et_pb_column_1_4 .et_pb_blurb {
   min-height: 170px;
}
.et_pb_column.et_pb_column_1_4:nth-child(even) .et_pb_blurb{background:#0067D6 !important;} 
.products li a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    background: #4181fa;
    color: #fff;
    border: 0;
    border-radius: 0;
}
.products li .quantity input.qty {
    height: 46px;
    border: none!important;
    border-radius: 0;
    color: #4181fa!important;
    background-color: traparent!important;
    font-size: 20px!important;
    border: 2px solid #e1e1e1 !important;
    width: 60px;
    text-align: center !important;
    padding: 0px 5px !important;
    font-weight: 700 !important;
	background-color: transparent !important;
}
#main-content .products li span.price {display: none !important;}
p.product_price_archive span,.product_sale_archive span {
    color: #303030;
    font-weight: 700;
    font-size: 16px;
	font-family: 'MuseoSans-500';
}
p.product_price_archive,.product_sale_archive {
    color: #747474 !important;
	font-family: 'MuseoSans-500';
	font-size: 16px;
    font-weight: 700;
}
.price_wrappe_nested {
    width: 100%;
    float: left;
    padding: 0px 30px;
}
span.ace_price_div {
    font-weight: 900;
    color: #303030;
    display: block;
	font-family: 'MuseoSans-500';
	font-size: 16px;
}
span.ace_price_nedted {
    color: #ff0000;
    font-size: 16px;
    font-weight: 900;
    line-height: 100%;
}
.quantity_wrappe_main {
    float: right;
    margin-right: 20px;
}
#main-content .products li .button {
    margin-top: 0;
    padding: 12px 12px !important;
    font-size: 14px;
    text-transform: uppercase;
    height: 45px;
    font-weight: 700;
	font-family: 'MuseoSans-500';
}
.products li .quantity input.qty {
    height: 45px;
    border: none!important;
    border-radius: 0;
    color: #4181fa!important;
    background-color: traparent!important;
    font-size: 20px!important;
    border: 2px solid #e1e1e1 !important;
    width: 46px;
    text-align: center !important;
    padding: 0px 5px !important;
    font-weight: 700 !important;
    background-color: transparent !important;
    margin-right: 5px;
}
.products li .price_wrappe_nested p.product_ace_price {
    position: absolute;
    top: 0;
    left: 30px;
}
.products li .price_wrappe_nested {
    position: relative;
}
p.woocommerce-result-count {
    display: none;
}
form.woocommerce-ordering {
    width: 100%;
}
#parent_sortby span.sort_by {
    float: left;
}
#parent_sortby ul.newulmenu {
    float: left;
}
#parent_sortby span.sort_by {
	float: left;
	line-height: 100%;
	vertical-align: middle;
	color: #303030;
	font-size: 15px;
	font-weight: 900;
	margin-top: 16px;
	margin-right: 40px;
}
#parent_sortby ul.newulmenu li a {
	font-size: 15px;
	font-weight: 700;
	/* font-family: "museo-sans"; */
	color: #747474;
	padding: 10px 25px;
	display: block;
	text-transform: capitalize;
	font-family: 'MuseoSans-500';
	text-decoration: none;
}
#parent_sortby ul.newulmenu li a:hover,#parent_sortby ul.newulmenu li a[selected="selected"]{color:#4181fa;}
div#parent_sortby {
    margin: 20px 0px;
    width: 100%;
    float: left;
}
.woocommerce-breadcrumb a:first-child {
	color: red;
	text-indent: -999px;
	overflow: hidden;
	display: inline-block;
	background: url("images/home.png");
	width: 22px;
	height: 18px;
}
#main-content .products li .button:after{display:none;}

/* blog post section css start from here =================================== */
.main-blog-wrapper-div #sidebar {
    padding-right: 0;
    padding: 0;
	float:left;
}
.main-blog-wrapper-div {
    margin-top: 45px;
    width: 100%;
    float: left;
}
.main-blog-wrapper-div #left-area {
    float: right;
    padding-left: 5.5%;
	padding-right: 0;
}
#sidebar h4.widgettitle {
    color: #181818;
    text-transform: uppercase;
    font-size: 16px;
	font-family: 'MuseoSans-500';
	letter-spacing: 1px;
}
#sidebar .et_pb_widget {margin-bottom: 25px;}
div#recent-posts-2 {
    padding-top: 10px;
    
}
.widget_recent_entries ul li a{
	color: #555555;
    text-transform: uppercase;
    font-size: 12px;
    /* letter-spacing: 1px; */
    font-family: 'MuseoSans-500';
    line-height: 23px;
	text-decoration: none;
	
}
.widget_recent_entries ul li a:hover{color:#0C76C3;}
#sidebar .et_pb_widget {
    margin-bottom: 0;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 25px;
}
.widget_recent_entries ul li{
	margin-bottom:15px;
	
}
.widget_recent_entries ul li:last-child{
margin-bottom:0px;	
}
.widget_tag_cloud .tagcloud a{
display: block;
    background: none;
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;	
	font-family: 'MuseoSans-500';
}
.widget_tag_cloud .tagcloud a:hover,#left-area a:hover{color:#0C76C3;}
.widget_tag_cloud{padding-top:10px;}
.widget_archive{padding-top:10px;}
#left-area .entry-content .et_pb_section{background:#F9F9F9 !important;	
	
}
#left-area  h1.entry-title {
    font-size: 18px;
    color: #181818;
    text-transform: uppercase;
	font-family: 'MuseoSans-500';
	letter-spacing: 1px;
	padding-bottom: 0;
}
#left-area a.date_single_post,#left-area a,span.cat_name_title {
    font-size: 13px;
    color: #838383;
	font-family: 'MuseoSans-500';
	text-decoration:none;
}
#left-area a.cat_name_single{color:#181818 !important;}
#left-area h1 + p{margin-bottom:0;}
#left-area .et_pb_section {padding: 0;}
#left-area  .et_pb_text_inner p {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 22px;
	font-family: 'Open Sans', sans-serif;
}
#featured_product_main_wrapper{display:none;}
#featured_prodct_from_another #featured_product_main_wrapper {display:block;padding: 0;}
#featured_prodct_from_another #featured_product_main_wrapper .et_pb_column_1_4:nth-child(even) .et_pb_blurb {
    background: none !important;
}
#featured_prodct_from_another #featured_product_main_wrapper h2.featured_p_sngl_pg {
    font-size: 24px;
    color: #0c76c3;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
}
#featured_product_main_wrapper .et_pb_main_blurb_image {
    height: 170px;
    background: #ffffff;
    border: 1px solid #dbe1ed;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    display: block;
}
#featured_prodct_from_another #featured_product_main_wrapper .et_pb_main_blurb_image img {
    position: absolute;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#featured_prodct_from_another #featured_product_main_wrapper .et_pb_blurb_container {
    background: #4181fa;
	color: #fff;
    text-align: center;
}
#featured_prodct_from_another h4.et_pb_module_header {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 0px !important;
    line-height: 100%;
}
.dropdown-menu.open.custom_open {
    display: block!important;
}
#sidebar .btn-default:hover {
    color: #333;
    background-color: #fff !important;
    border-color: #adadad;
}
#sidebar .bootstrap-select .dropdown-toggle,
#sidebar .bootstrap-select .dropdown-toggle:active, 
#sidebar .bootstrap-select .dropdown-toggle:focus,
#sidebar .bootstrap-select .dropdown-toggle:hover {
    color: #181818;
	font-family: 'MuseoSans-500';
	background-color: #fff !important;
	border-color: #e9e9e9 !important;
}
#sidebar .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 0px dashed;
    border-top: 0px solid\9;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    background: url('images/dropodown.png');
	width: 11px;
	height: 8px;
}
#sidebar .dropup .caret {
    content: "";
    border-top: 0;
    border-bottom: 0px dashed;
    border-bottom: 0px solid\9;
}
#sidebar .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted transparent!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
    box-shadow: none !important;
}
#featured_prodct_from_another .et_pb_row {padding-bottom: 45px;}
#featured_prodct_from_another .et_pb_row.et_pb_row_1 {padding-bottom: 0 !important;}
.left_blog_main_img {
	height: 200px;
	width: 28%;
	float: left;
	margin-right: 2%;
}
.blog_right_content_wrap {
	float: left;
	width: 70%;
	/* border-bottom: 1px solid #ececec !important;
	padding-bottom: 15px; */
}
.blog_right_content_wrap .entry-title {
	margin-top: 0;
	font-size: 12px !important;
	text-transform: uppercase;
	color: #181818 !important;
	font-family: 'MuseoSans-500';
	margin-bottom: 0;
}
.blog_right_content_wrap .entry-title a{
	 font-size: inherit;
    color: inherit !important;
	font-family: inherit !important;
}
.blog_right_content_wrap .date_wrappe_main_div {
	margin-bottom: 0;
}
.blog_right_content_wrap .inner_wrappe_main_div{
border-bottom: 1px solid #ececec !important;
padding-bottom: 15px;	
	
}
.blog_right_content_wrap .the_content_wrappe {
	color: #5c5c5c;
	font-size: 13px;
	font-family: 'MuseoSans-500';
	letter-spacing: 1px;
	margin-top: 10px;
	line-height: 21px;
}
.blog_right_content_wrap .reasmore {
	background: #4181fa;
	color: #fff !important;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px !important;
	font-family: 'MuseoSans-500';
	border-radius: 3px;
	margin-top: 5px !important;
	display: inline-block;
}
#left-area ul{padding: 0 0 0px 1em;}
#left-area  .pagination {float: right;}
#left-area .pagination ul > li > a,#left-area .pagination ul > li > span {
	float: left;
	padding: 7px 17px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff !important;
	border: 1px solid #dddddd;
	 border-left-width: 1px;
	 font-size: 15px;
	 font-family: 'MuseoSans-500';
	 color:#111111;
	 letter-spacing: 1px;
}
#left-area .pagination .page-numbers.current {
    background-color: #4181F9 !important;
    color: #fff !important;
}
#featured_prodct_from_another .et_pb_row.et_pb_row_3 {
      padding-bottom: 0 !important;
}
/* product detail page css start from here =================================================================== */
.single-product #sidebar{display:none;}
.single-product #left-area {float: right;padding-left: 0;padding-right: 0;width: 100%;}
.single-product #wpis-gallery {display: none;}
.product_cat-air-compressors > .onsale{display:none;}
#left-area .images .onsale {
	width: 100px !important;
	height: 100px !important;
	background: url(images/sale.png) !important;
	display: block;
	background-repeat: no-repeat !important;
	float: right;
	background-position: top right !important;
	text-indent: -999px;
	overflow: hidden;
	position: absolute;
	top: 0 !important;
	right: 0 !important;
	display: block;
	left: auto !important;
	
}
#left-area .images {
	position: relative;
	background: #fff;
	border: 1px solid #e6edf9;
	border-radius: 3px;
	height: 400px;
}
#left-area .images .slick-slider {
	height: 100%;
}
#left-area .images .slick-list {height: 100%;}
#left-area .images .slick-slide {height: 100%;}
#left-area .images .slick-track {height: 100%;}
#left-area .images .slick-slide img {
	display: block;
	width: auto;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
#left-area .images .slick-next:before,#left-area .images .slick-prev:before {color: #4181FA;}
#left-area .images .slick-next {
	right: 0px;
	color: #4181FA !important;
}
#left-area .images .slick-prev {
	left: 0;z-index:9;
}
.summary.entry-summary .product_title.entry-title {
	font-size: 30px !important;
	color: #0c76c3 !important;
	font-family: 'Open Sans', sans-serif !important;
}
#left-area .product_cat-air-compressors del .woocommerce-Price-amount.amount {
	color: #8994a3 !important;
	font-size: 18px !important;
	font-family: 'Open Sans', sans-serif !important;
}
#left-area .product_cat-air-compressors ins .woocommerce-Price-amount.amount {
	color: #8994a3 !important;
	font-size: 18px !important;
	font-family: 'Open Sans', sans-serif !important;
	background: #4181fa;
	color: #fff !important;
	padding: 5px 10px;
}
#left-area .product_cat-air-compressors .woocommerce-product-details__short-description p {
	color: #262626;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif !important;
}
#left-area .cart .quantity input.qty {
    height: 49px;
    border: none !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    border: 1px solid #e4e2e2 !important;
    color: #747474 !important;
	width: 54px !important;
}
#left-area .cart .single_add_to_cart_button.button.alt{
background: #4181fa !important;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100%;
    padding: 9px 20px;
}
#left-area .cart .single_add_to_cart_button.button.alt:after{display:none;}
#main-content .products li .button {
      color: #fff;
}
div#tab-additional_information h2.specification_tab_ace,div#tab-additional_information > h2{display:none;}
.woocommerce #left-area .woocommerce-tabs {
    border: 1px solid #e8f0fe;
    border-top: 0;
    border-right: 0;
}
.woocommerce #left-area .woocommerce-tabs ul.tabs {
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
}
.woocommerce #main-content #left-area .woocommerce-tabs ul.tabs li a,
.woocommerce #main-content #left-area .woocommerce-tabs li a {
	padding: 15px 40px !important;
	color: #666 !important;
	font-size: 24px !important;
	letter-spacing: 1px;
	border-top: 1px solid #e8f0fe;
	border-left: 1px solid #e8f0fe !important;
	border-right: 1px solid #e8f0fe !important;
	font-family: 'Open Sans', sans-serif !important;
	letter-spacing: 1.5px !important;
	font-weight: 400;
}
.woocommerce #main-content #left-area .woocommerce-tabs ul.tabs li.active a{
	color: #0c76c3 !important;font-family: 'Open Sans', sans-serif !important;
}
#main-content .container:before {display: none;}
#tab-additional_information .shop_attributes tr {width: 50%;float: left;padding: 0;}
.woocommerce table.shop_attributes td {border-bottom: 0px dotted rgba(0,0,0,.1);}
.woocommerce table.shop_attributes th {	border-bottom: 0px dotted rgba(0,0,0,.1);}
.woocommerce table.shop_attributes tr:nth-child(2n) td, .woocommerce table.shop_attributes tr:nth-child(2n) th {
	background: none;
}
.woocommerce table.shop_attributes th {
	border-bottom: 0px dotted rgba(0,0,0,.1);
	width: 50% !important;
	display: block;
	float: left;
	font-size: 16px;
color: #272727;
text-transform: capitalize;
font-family: 'Open Sans', sans-serif;
letter-spacing: 1px;
font-style: normal;
}
.woocommerce table.shop_attributes td {
	border-bottom: 0px dotted rgba(0,0,0,.1);
	width: 50% !important;
	display: block;
	float: left;
	font-size: 16px;
color: #272727;
text-transform: capitalize;
font-family: 'Open Sans', sans-serif;
letter-spacing: 1px;
font-style: normal;
}	
.woocommerce table.shop_attributes {border-top: 0px dotted rgba(0,0,0,.1);}
#tab-additional_information{
color: #272727;
text-transform: capitalize;
font-family: 'Open Sans', sans-serif;
letter-spacing: 1px;
font-size: 18px;
	
	
}
.wc-tabs-wrapper .woocommerce-review-link {display: none !important;}
.woocommerce .wc-tabs-wrapper .woocommerce-product-rating {	margin-bottom: 0 !important;display: inline-block;}
.woocommerce .wc-tabs-wrapper .woocommerce-product-rating {margin-bottom: 0 !important;}
.woocommerce .wc-tabs-wrapper .woocommerce-product-rating .star-rating {
	margin: 0;
	float: left;
}
.woocommerce #main-content #left-area .woocommerce-tabs ul.tabs li a, .woocommerce #main-content #left-area .woocommerce-tabs li a {
	color: #272727 !important;
}
.woocommerce .wc-tabs-wrapper .woocommerce-product-rating {
	margin-bottom: 0 !important;
	display: block;
	float: right;
	margin-left: 10px;
}
.woocommerce-page .wc-tabs-wrapper .star-rating span:before{
	color: #4181fa;
} 
.product .related h2 {
	padding-bottom: 16px;
	font-size: 26px !important;
	text-align: center;
	color:#0c76c3;
	letter-spacing: 1px;
text-transform: capitalize;
font-family: 'Open Sans', sans-serif;
}
.summary.entry-summary .woocommerce-product-rating{display:none;}
#left-area .related.products .product_part_no {
	display: none !important;
}
#left-area .related.products .rip_wrappe.col-md-12{
display: none !important;	
	
}
#left-area .related.products .price_wrappe_nested{
display: none !important;	
}
#left-area .related.products .quantity_wrappe_main{
display: none !important;		
}
#left-area .related.products h2.woocommerce-loop-product__title {
	padding: 0px 0px !important;
	color: #4181fa;
	font-size: 18px !important;
	font-weight: 700;
	margin-top: 20px !important;
	font-family: 'MuseoSans-500';
	text-transform: capitalize;
	min-height: 35px;
	color: #fff !important;
	background: #4181fa;
}
#left-area .related.products .products li {
	padding-bottom: 0px !important;
}
#left-area .related.products h2.woocommerce-loop-product__title {
	padding: 0px 0px !important;
	/* color: #4181fa; */
	font-size: 18px !important;
	font-weight: 700;
	margin-top: 20px !important;
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	min-height: 35px;
	color: #fff !important;
	background: #4181fa;
	padding: 10px 0px !important;
}
#left-area .images img {
	display: block;
	width: auto;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.woocommerce-account #sidebar{display:none;}
.woocommerce-account #left-area {width: 100%;padding-bottom: 23px;padding-left: 0;}

#left-area .related.products .products li {
	width: 22.5% !important;
	margin-right: 3% !important;
	clear: none !important;
}
#left-area .related.products .products li:last-child {margin-right: 0px !important;}
#left-area .related.products h2.woocommerce-loop-product__title {font-weight: 400;min-height: 59px;}
#left-area .related.products .products li .star-rating{display:none;}
#left-area #review_form_wrapper #commentform input[type="text"],#left-area #review_form_wrapper #commentform input[type="email"]{width:100%;}

/* home page responsive issues */
.mobile-display-block {
    width: 100%;
    float: left;
    display: none;
}
.search_in_header .mailpoet_text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity:1 !important;
}
.search_in_header .mailpoet_text::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity:1 !important;
}

.search_in_header .mailpoet_text:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity:1 !important;
}

.search_in_header .mailpoet_text:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity:1 !important;
}
.woocommerce ul.products li.product .star-rating {display: none;}
body.archive #left-area {padding-left: 0;}
img {max-width: 100%;height: auto;width: auto;max-height: 100%;}









