/*
Theme Name: Divi Child Theme
Description: Divi Child Theme
Author:  We Are Pixel
Author URI:  http://www.wearepixel.co.uk
Template: Divi
Version:  1.0.2
*/

 
/* =Theme customizations
------------------------------------------------------- */
/* Top Header */
#menu-social-menu li, #right_top_header li ,li.login{
    font-family: FontAwesome;
    display: inline-block;   
}
#right_top_header li a{
    color: #000;
}
ul#right_top_header li {
    padding: 10px;
}
#menu-social-menu li{
    padding: 10px 5px;
}
#menu-social-menu li i, li.login i, li.cart_header i{
     font-style: normal !important;
     color: #3185F5 !important;
     font-size: 16px;
}
li.cart_header { background-color: #E0E5EC; }
#top-header .container{
    paddting-top: 0 !important;
}

/* Over Top Header */

/* Header */

#main-header .container{
    padding-left: 0px !important;
}
.header_logo{
    width: 30%;
    float: left;
}
.header_right{
    width: 70%;
    float: right;
}
 .search_in_header{
    float: left;
}
.contact_info_header{
    float: right;
}
#et-top-navigation{
    padding-left: 30px !important;
}
/* Over Header */


/* Footer */
/*.et_pb_section_7.et_pb_section{
    background-color: #C3CCD4 !important;
}*/
.bottom_footer_right{
    float: right;
}

/* Footer End */

/* Category page (archive) */
body.archive #sidebar{
    display: none;
}
body.archive #left-area{
    width: 100%;
}
.et_left_sidebar #left-area{
    padding-left: 0;
}
.cat_name_single+.cat_name_single:before{
    content: ", ";
} 




.pagination {
text-align: center;
margin: 20px 0;
}
.pagination ul {
display: inline-block;
margin-left: 0;
margin-bottom: 0;
padding: 0;
border-radius: 5px;
}
.pagination ul>li {
display: inline;
}
.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
border-left-width: 1px;
border-radius: 5px 0 0 5px;
}
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
border-rigth-width: 1px;
border-radius: 0 5px 5px 0;
}
.pagination ul>li>a, .pagination ul>li>span {
float: left;
padding: 4px 12px;
line-height: 20px;
text-decoration: none;
background-color: #ffffff;
border: 1px solid #dddddd;
border-left-width: 0;
}
.page-numbers, .pagination li span{
    background-color: #dce8e7 !important;
    color: #000 !important;
    font-weight: 500;
    margin-right: 3px;
    margin-left: 3px;
}
.page-numbers.current{
    background-color: #4181F9 !important;
    color: #fff !important;
}
